*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


/build/
/.idea/
/.gradle/
/gradle/
/app/build/

bin/
gen/
.classpath
.project
project.properties

.settings/
